.project_card{
    margin-left: 20px;
    margin-right: 20px;
}

.profileInProject{
    padding-top: 10px;
    border-radius: 7px;
    transition: 300ms;
}

.animate_transition{
    transition: 2s;
}

.animate_transition:hover{
    .profileInProject{
        scale: 1.1;
    }
}